/*---- Clear Button -----*/

.clear-button {
    padding: 20px 0;
}

button.clear-new {
    background-color: #E5E5E5;
    border: 0;
    color: #000;
}

/*---- Car Buttons -----*/

.car-buttons {
    padding-bottom: 30px;
}

button.car {
    margin: 10px 10px 0 0;
}

/*---- Gifs Wrapper -----*/

.car-item {
    padding: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.car-item:hover {
    background-color: #EFEFEF;
}

.displayed-title {
    font-weight: bold;
    margin-bottom: 0;
}

.rating {
    text-transform: uppercase;
}