/*---- Car Buttons -----*/

.car-buttons {
    padding-bottom: 30px;
}

button.car {
    margin: 10px 10px 0 0;
}

/*---- Gifs Wrapper -----*/

.car-item {
    float: left;
    padding: 0 10px 10px 0;
}