/*---- Car Buttons -----*/

.car-buttons {
    padding-bottom: 30px;
}

button.car {
    margin: 10px 10px 0 0;
}

/*---- Gifs Wrapper -----*/

.car-item {
    padding: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.car-item:hover {
    background-color: #EFEFEF;
}

.rating {
    text-transform: uppercase;
}